/* Error: Undefined variable.
 *    ,
 * 90 |   width: $size;
 *    |          ^^^^^
 *    '
 *   _general.scss 90:10  @import
 *   style.scss 14:9     root stylesheet */

body::before {
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
    white-space: pre;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    content: "Error: Undefined variable.\a    \2577 \a 90 \2502    width: $size;\a    \2502           ^^^^^\a    \2575 \a   _genral.scss 90:10  @import\a   style.scss 14:9     root stylesheet";
}
